<h1>ADD NEW ARTICLE</h1>
<img src="/assets/img/Dash.png" alt="Nordic Rose Logo">

<div className="form">        
    <form action="/add" method="post">
    <input type="text" placeholder="Title" name="title" required></input><br>
    <input type="text" placeholder="Url Picture" name="url" required></input><br>
    <input type="text" placeholder="Author" name="author" required></input><br>
    <input type="text" placeholder="Author Picture" name="authorPicture" required></input><br>
    <textarea placeholder="Write your article here" name="article" rows="4" cols="50"></textarea><br>
    <button class="btnSubmit">Submit</button>
</form>

            </div>
        