<%- include(`./partials/header`) %>
<%- include(`./partials/formComponent`) %>
<img src="/assets/img/Eyes.png" alt="Eyes Logo">
<h1>What to read next</h1>
<%- include(`./partials/galleryAddPage`) %>
<%- include(`./partials/footer`) %>
